<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Liste des artistes</title>
    <link rel="stylesheet" type="text/css" href="/front-end/css/accueil.css">
</head>
<body>
<h1>Liste des artistes</h1>
<ul>
    <form action="/search" method="get">
        <label>
            <label>
                <input type="text" placeholder="Search" name="search"  list="suggestions">
            </label>
            <datalist id="suggestions">
                {{range .}}
                <ul id="myUL">
                    <li><a href="#"></a></li>
                </ul>
                <option value="{{.Name}}">
                    {{end}}
            </datalist>
        </label>
        <button type="submit">Search</button>
    </form>
    <center>
        <button class="button" id="mon-bouton">Voir plus de filtre...</button>
    </center>

    <form>
        <div class="zone-texte" id="ma-zone-texte">
        Nombres de personnes
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">1</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">2</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">3</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">4</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">5</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">6</label>
        <label><input type="checkbox" name="option1" value="1" onclick="uncheckOthers(this)">7</label>
    </form>
        <form>
            <label for="year">Sélectionner une année :</label>
            <input type="range" id="year" name="year" min="1950" max="2023" oninput="updateYearValue()">
            <span id="yearValue">1800</span>

        </form>
    </div>
    {{range .}}
    <li id="artist{{.ID}}">
        <a href="/index/{{.ID}}">
        <div class="artiste-box">
            <img src="{{.ImageURL}}" alt="{{.Name}}" />
            <div class="info">
                <p>First Album : {{.FirstAlbum}}</p>
                <p>Group Creation : {{.CreationDate}}</p>
                <p>Info {{.Name}}</p>
                <label>
                    <p name="artist" id="artist">
                        {{if gt (len .Members) 2}}
                        <option value="{{.Name}} - groupe">groupe</option>
                        {{else}}
                        <option value="{{.Name}} - membre">artiste</option>
                        {{end}}
                    </p>
                </label>
            </div>
        </div>
        </a>
    </li> {{end}}
    </div>
</ul>
    <script src="front-end/js/accueil.js"></script>
</body>
</html>

