<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body onload="initMap()">
<header> <h1> Dates and locations of concerts </h1> </header>
<div id="map"></div>
<div class="dateLoc">
    <div>Locations :</div>
    <div>Dates :</div>
</div>
{{ range  $locations, $values := .Relations}}
    {{range $key, $value := $values}}
        <div class="dateLoc"> <a href="#" onclick="showLocationOnMap('{{$locations}}')">{{$locations}} :</a>
            {{$value}}
        </div>
    {{end}}
{{end}}
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 40.77975, lng: -73.983 },
            zoom: 30,
            mapTypeId: "satellite",
        });

        map.setTilt(45);
    }

    function showLocationOnMap(location) {
        const geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: location }, function (results, status) {
            if (status === "OK") {
                const map = new google.maps.Map(document.getElementById("map"), {
                    center: results[0].geometry.location,
                    zoom: 15,
                });

                new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                });
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
        async defer></script>
</body>
</html>
