<h1>{{.Name}}</h1>
<img src="{{.ImageURL}}" alt="{{.Name}}"/>

<h2>Informations</h2>
<ul>
    <li><strong>Membres :</strong> {{.Members}}</li>
    <li><strong>Date de création :</strong> {{.CreationDate}}</li>
    <li><strong>Premier album :</strong> {{.FirstAlbum}}</li>
    <li><strong>Concerts :</strong> {{.Dates}}</li>
    <li><strong>Dates :</strong>{{.Dates}} </li>
</ul>

<h2>Albums</h2>
<ul>
    {{range .FirstAlbum}}
        <li>{{.}}</li>
    {{end}}
</ul>
<p>{{.CreationDate}}</p>
<h2>Titres</h2>
<ul>
    {{range .Tracks}}
        <li>{{.}}</li>
    {{end}}
</ul>
