<title>{{.Name}}</title>
<style>
</style>
<body>
<div id="main">
    <h1>{{.Name}}</h1>
    <img src="{{.ImageURL}}" alt="Photo de {{.Name}}">
    <h2>Membres du groupe</h2>
    <p>Voici les membres du groupe {{.Name}} :</p>
    <ul>
        {{range .Members}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <h2>Tournées</h2>
    <h3>Artistes</h3>
    <ul>
        <li>{{.Name}}</li>
    </ul>
    <h3>Premier Albums</h3>
    <ul>
        <li>{{.FirstAlbum}}</li>
    </ul>
    <h3>Dates</h3>
    <p>Voici les dates de concerts:</p>
    <ul>
        {{range .Dates}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <p>La locations</p>
    <h3>Location</h3>
    <ul>
        {{range .Locations}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <p>La Relations</p>
    <h3>Relation</h3>
    <ul>
        {{range .Relations}}
        <li>{{.}}</li>
        {{end}}
    </ul>

    <a href="/lofi/{{.ID}}">
        <button type="submit">
            Lofi
        </button>
    </a>
</div>