h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    color: #222;
    text-shadow: 2px 2px 3px #ddd;
}
h2 {
    font-size: 36px;
    color: #0080ff;
    text-align: center;
    margin-top: 50px;
}
p {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}
a {

    text-decoration: none;
    color: #0080ff;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: center;
}
li {
    width: 25%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
h3 {
    font-size: 24px;
    color: black;
    margin: 20px 0;
}
img {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: 15px 15px 15px #ddd;
    border-radius: 50px;
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
}
.artiste-box {
    cursor: pointer;
    padding-bottom: 20px;
    background-color: #f8f5f5;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.artiste-box:hover {
    transform: translateY(-25px);
    transition: 2s;
    background-color: orange;
}
button.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button.button:hover {
    transition: .5s;
    background-color: #005fa3;
}