*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {

}
#Menu{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #042331;
    transition: all .5s ease;
}
#Menu img{
    height: 160px;
    width: 160px;
    margin-left: 45px;
}
#Menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 10px;
}
#Menu ul a i{
    padding-right: 10px;
}
.fa-file-code{
    margin-left: 3px;
    margin-right: 4px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    padding: 6px 12px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    transition: all .5s;

}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ #Menu{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px
}



#container{
    display: flex;
}
#section1{
    width: 50%;
    background-color: darksalmon;
}
#section2{
    width: 50%;
    background-color: #ffe5e5;
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}
#artistImage{
    width: 500px;
    height: 500px;
}

