/* Styles pour la div principale */
*{
    font-family: "Permanent Marker", cursive;
}
#main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px #ddd;
}

/* Styles pour le titre */
h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    color: #222;
    text-shadow: 2px 2px 3px #ddd;
}

/* Styles pour le sous-titre */
h2 {
    font-size: 36px;
    color: #0080ff;
    text-align: center;
    margin-top: 50px;
}

/* Styles pour le texte principal */
p {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}

/* Styles pour les liens */
a {
    text-decoration: none;
    color: #0080ff;
    font-weight: bold;
}

/* Styles pour la liste */
ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

/* Styles pour les éléments de la liste */
li {
    margin: 30px 0;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #ddd;
}

/* Styles pour les titres de section */
h3 {
    font-size: 24px;
    color: black;
    margin: 20px 0;
}

/* Styles pour les images */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px #ddd;
}