@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 25px;
    align-items: center;
}
header > div:last-child {
    margin-left: auto;
}
header a {
    margin-left: auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    padding-top: 75px;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    color: #222;
    text-shadow: 2px 2px 3px #ddd;
}
h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}
p {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    width: 25%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
h3 {
    font-size: 24px;
    color: black;
    margin: 20px 0;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px #ddd;
    border-radius: 50px;
}
.artiste-box {
    transition: all 0.3s ease-in-out;
    padding-top: 35px;
    padding-bottom: 100px;
    background-color: #f8f5f5;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    font-size: 24px;
    color: black;
    margin: 20px 0;
    text-align: center;
}
.artiste-box:hover {

    transform: translateY(-25px);
    transition: 2s;
    background-color: orange;
}
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.accueil:hover {
    transition: .5s;
    background-color: #005fa3;
}
button.refresh-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button.refresh-button:hover {
    transition: .5s;
    background-color: #005fa3;
}
