* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

#main {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    position: fixed;
}

#menu {
    font-size: 25px;
    margin: 0 10px;
    border: solid white 5px;
    padding: 5px;
    border-radius: 10px;
    float: right;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
}
#a {
    color: black;
}
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.groupe {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    flex: 1;
}
.infos {
    border-radius: 5px;
    margin-right: 20px;
    background-color: #434343;
    padding: 20px;
}

.infos h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.infos ul {
    list-style-type: none;
    font-size: 25px;
}

.infos ul li {
    margin-bottom: 10px;
}

.photo {
    border-radius: 15px;
    width: 200px;
    height: auto;
    background-color: #444;
    float: left;
    margin-right: 20px;
}
.photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#logo {
    border-radius: 175px;
    width: 120px;
    height: auto;
    float: left;
    background-color: #888;
}
/* Tupac Shakur */
.infos.larger {
    margin-right: 75px;
    width: 100%;
    max-width: 300px;
    padding: 30px;
}

.infos.larger h2 {
    font-size: 40px;
}

.infos.larger h3 {
    font-size: 30px;
}

.infos.larger ul {
    font-size: 30px;
}
footer {
    background-color: #333333;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}